<style>
	#commentdelete {
		display: block !important;
		padding-left: 0 !important;
		font-size: 0 !important;
	}
</style>
<div id="forumtype">
	<%= @forum.title %>
</div>

<% @forum.posts.all_ordered_by_child.each do |forum| %>
	<div id="forumtypeforum" class="row">
		<div id="commentdelete">
			<% if current_user != nil %>
				<% if current_user == forum.user || current_user.admin %>
					<%= link_to image_tag('xicon.png'), forum_post_path(@forum, forum), method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			<% end %>
		</div>
		<div id="forumtypeforumtitle" class='col-md-8 col-sd-8'>
			<%= link_to forum.title, forum_post_path(@forum.title ,forum) %>
		</div>
		<div id="forumtypeforumpccount" class='col-md-2 col-sd-2'>
			<div>Total Comments <%= forum.comments.count %></div>
		</div>
		<div id="forumtypeforumlastpost" class='col-md-2 col-sd-2'>

			<% if forum.comments.count == 0 %>
				<% @recenttime = Time.now - forum.updated_at %>
				<div>by <%= forum.user.username %></div>
			<% else %>
			 	<%=  forum.comments.order(:updated_at).last.body[0...25] %>
			 	<% if forum.comments.order(:updated_at).last.body.length > 25 %>
				...
			 	<% end %>
			 	<div>by <%= forum.comments.order(:updated_at).last.user.username %></div>
			 	<% @recenttime = Time.now - forum.comments.order(:updated_at).last.updated_at  %>
			<% end %>
			<div>
			 	<% if @recenttime < 60 %>
			 		posted less than a min ago
			 	<% elsif @recenttime < 3600 %>
			 		posted less than an hour ago
			 	<% elsif @recenttime < 86400 %>
			 		posted less than a day ago
			 	<% elsif @recenttime < 604800 %>
			 		posted less than a week ago
			 	<% elsif @recenttime < 2592000 %>
			 		posted less than a month ago
			 	<% elsif @recenttime < 31536000 %>
			 		posted less than a year ago
			 	<% elsif @recenttime >= 31536000 %>
			 		posted more than a year ago
			 	<% else %>
			 		an error occured
			 	<% end %>
		 	</div>
		</div>
	</div>
<% end %>

<% if current_user != nil %>
	<% if current_user %>
		<div class='hvr-grow lasthvrgrow'>
			<a  style="text-decoration : none" href="<%= (new_forum_post_path(@forum.title)+ '#commentsubmit') %>"><input type="submit" class="guildbutton" value="Add Post" /></a>
		</div>
	<% end %>
<% end %>

