<div id='passwordreseteditdiv'>
  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <div id='pwresettitle'>Password Reset Form</div>
      <div id='pwresetcontext'>
        Please enter your new password that you wish to be associated with your account.
      </div>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="pwresetfield">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="pwresetfieldfield">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="pwresetbutton pwresetbuttonmledit"><%= f.submit "Update Password" %></div>
  <% end %>
</div>