<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
  <% if current_user.admin %>

  <div id="admin-icon-list">
    <div id="admin-row" class="row">
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update News</div>
        <a href="/admin/news"><i class="fa fa-newspaper-o"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Youtube Playlist</div>
        <a class="various iframe" data-fancybox-type="iframe" style="text-decoration : none" href="<%= edit_playlist_path(1) %>"><i class="fa fa-youtube"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext' class="recruiticon">Update Recruitment Icons</div>
        <a href="/admin/recruitment"><i><%= image_tag("wowicon.png", :class => "wowicon", :alt => "rss feed") %></i></a>
      </div>
    </div>
  </div>  
    <div id="back-button">
      <%= link_to "Back", admin_index_path %>
    </div>

<!-- If not admin -->
  <% else %>
    <%= render 'shared/noaccess' %>    
  <% end %>
<% else %>
  <%= render 'shared/noaccess' %>  
<% end %>

