<!-- If not admin -->
<%if current_user.admin == false %>
  <div id="notadminmargin">
    <div id="notadmin">
      <div id="notadminbanner">
        404 Page Not Found
      </div>
      <div id="notadmintext">
        The page you were looking for was not found. It may have been moved or deleted.
      </div>
      <div id="notadminlink">
       <%= link_to 'Click Here to Reload the Page', root_path %>
      </div>
    </div>
  </div>
<% end %>



<!-- If admin -->
<% if current_user.admin %>
  <div id="admin-icon-list">
    <div id="admin-row" class="row">
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Stream Page</div>
        <a href="/admin/streams"><i class="fa fa-twitch fa-lg"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Video Page</div>
        <a href="/admin_update_past_work"><i class="fa fa-film fa-lg"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Forums</div>
        <a href="/admin_update_current_work_home"><i class="fa fa-comments fa-lg"></i></a>
      </div>
    </div>
    <div id="admin-row" class="row">
      <div id="admin-icons" class='col-md-4 body-height'>
        <div id='icontext'>Update Home Page</div>
        <a href="/admin_update_current_work_home"><i class="fa fa-home fa-lg"></i></a>
      </div>
      <div id="admin-icons" class='col-md-4 body-height'>  
        <div id='icontext'>Update Admin Privileges </div>
        <a href="/admin_update_contact"><i class="fa fa-users fa-lg"></i></a>
      </div>
    </div>
  </div>  










  <p id="notice"><%= notice %></p>

  <h1>Listing Admins</h1>

    <tbody>
      <% @users.reverse.each do |admin| %>
          <%= admin.username %>
          <%= link_to 'Show', admin %>
          <%= link_to 'Edit', edit_admin_path(admin) %>
          <%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %>
          <br>
      <% end %>


  <br>

  <%= link_to 'New Admin', new_admin_path %>
<% end %>
