<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
  <% if current_user.admin %>
    <div id='adminnoticediv'>
      <a class="notice"><%= flash[:notice] if flash[:notice] %></a>
      <a class="alert"><%= flash[:alert] if flash[:alert] %></a>
    </div>
    <div id="adminstreamheader">Admin Home Page New's Controlls</div>
    <div class='hvr-grow lasthvrgrow'>
      <a class="various iframe" data-fancybox-type="iframe" style="text-decoration : none" href="<%= new_homepagenews_path %>"><input type="submit" class="guildbutton" value="Add News" /></a>
    </div>
    <div id="adminstreamerlist">
        <% @homepagenews.sort.reverse.each do |news_section| %>
            <div id='adminstreamername'><%= news_section.title %></div>
            <a class="various iframe" data-fancybox-type="iframe" style="text-decoration : none" href="<%= edit_homepagenews_path(news_section) %>">Edit</a>
            <div id="adminstreamerdelete"><%= link_to 'Delete', news_section, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <br>
        <% end %>
    </div>
    <div id="back-button">
      <%= link_to "Back", admin_home_path %>
    </div>
<!-- If not admin -->
  <% else %>
    <%= render 'shared/noaccess' %>    
  <% end %>
<% else %>
  <%= render 'shared/noaccess' %>  
<% end %>












style page
  - the 1.2.3 ext



need picture for database....
  -paperclip????

do i add automaticly or can i get the system to understand when user types [img]name...[/img] that it means image tag?
