<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
	<% if current_user.admin %>
		<div id="recruitmentpage" class="row">
			<div id="recruitmentheader">Recruitment Icon Controlls</div>
			<!-- <div id="recruitmenthelp">
				Any Checked off classes will mean we are recruiting. Any Un-Checked classes will mean we are currently not recruiting.
			</div> -->
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<%= form_tag update_multiple_recruitments_path, method: :put do %>
					<table>
					 	<tr>
						    <th></th>
						    <th>Class</th>
						    <th>Spec</th>
						    <th>Recruiting</th>
					    </tr>
					  	<% Recruitmentclass.all.each do |wowclass| %>
							<% Recruitmentclass.find(wowclass.id).recruitments.all.sort.each do |recruitment| %>
					    	<tr>






						        <td><%= check_box_tag "recruitment_ids[]", recruitment.id, recruitment.recruiting %></td>







						        <td><%= wowclass.wowclass %></td>
						        <td><%= recruitment.spec.split.map(&:capitalize).join(' ')%></td>
						        <td <% if recruitment.recruiting == true %> style="background-color: #3AFF78" <% else %> style="background-color: #FF5348" <% end %>
						    	> <%= recruitment.recruiting ? "Yes" : "No" %></td>
					    	</tr>
					        <% end %>
					    <% end %>
					</table>
					<%= submit_tag "Edit Checked" %>
				<% end %>
			</div>
		</div>
		<div class="col-md-4"></div>
		<div id="back-button">
			<%= link_to "Back", admin_home_path %>
		</div>

<!-- If not admin -->
	<% else %>
		<%= render 'shared/noaccess' %>	   
	<% end %>
<% else %>
	<%= render 'shared/noaccess' %>	 
<% end %>