<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
	<% if current_user.admin %>
		<div id='adminnoticediv'>
			<a class="notice"><%= flash[:notice] if flash[:notice] %></a>
			<a class="alert"><%= flash[:alert] if flash[:alert] %></a>
		</div>
		<div id="adminstreamheader">Admin Stream's Controlls</div>
		<div class='hvr-grow lasthvrgrow'>
			<a class="various iframe" data-fancybox-type="iframe" style="text-decoration : none" href="<%= new_stream_path %>"><input type="submit" class="guildbutton" value="Add Streamer" /></a>
		</div>
		<div id="adminstreamerlist">
		    <% @streamer.sort.reverse.each do |admin| %>
		        <div id='adminstreamername'><%= admin.streamer %></div>
		        <a class="various iframe" data-fancybox-type="iframe" style="text-decoration : none" href="<%= edit_stream_path(admin) %>">Edit</a>
		        <div id="adminstreamerdelete"><%= link_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' } %></div>
		        <br>
		    <% end %>
		</div>
		<div id="back-button">
			<%= link_to "Back", admin_index_path %>
		</div>

<!-- If not admin -->
	<% else %>
		<%= render 'shared/noaccess' %>	   
	<% end %>
<% else %>
	<%= render 'shared/noaccess' %>	 
<% end %>
