<% if current_user %>
	<div id="username"><%= current_user.username %></div> | 
		<%= link_to 'sign out', logout_path, id: 'user-password' %>
		<%= link_to "forgotten password?", new_password_reset_path %>
		<%= check_box_tag :remember_me, 1, params[:remember_me] %>
  		<%= label_tag :remember_me %>
<% else %>

	<%= form_tag(sessions_path) do %>
		<div id="username">
			<%= label_tag %>
			Username <%= text_field_tag "user[username]", nil, placeholder: 'Username' %>
		</div>
		<div id="user-password">
			<%= label_tag %>
			Password <%= password_field_tag "user[password]", nil, placeholder: 'Password' %>
		</div>

		<a class="various iframe" data-fancybox-type="iframe" style="text-decoration : none" href="<%= new_user_path %>"><input type="submit" class="guildbutton" value="Sign Up" /></a>

		<%= submit_tag "Login", class: 'login-button' %>
		
	<% end %>
<% end %>