
<div id="header" class="container-fluid">
	<div id="header-row" class="row">
		<div id="content" class='col-md-12'>
			<div id='empty' class='col-md-1'></div>
			<div id="content-frame" class='col-md-10'>
				<div id="title">
				</div>
				<div id="header" class="container-fluid">
					<div id="header-row" class="row">
						<div id='login'>
							<%= render 'shared/login' %>
						</div>
						<div id="navbar" class='col-md-12'>
							<ul id="navbarul">
								<li class='col-md-2 hvr-box-shadow-outset'><%= link_to "Home",root_path %></li>
								<li class='col-md-2 hvr-box-shadow-outset'><%= link_to "Forums",root_path %></li>
								<li class='col-md-2 hvr-box-shadow-outset'><%= link_to "Videos",root_path %></li>
								<li class='col-md-2 hvr-box-shadow-outset'><%= link_to "Stream",root_path %></li>
								<li class='col-md-2 hvr-box-shadow-outset'><%= link_to "Apply",root_path %></li>
								<li class='col-md-2 hvr-box-shadow-outset'><%= link_to "About Us",root_path %></li>
							</ul>
						</div>
					</div>	
				</div>
				<div>account up top...
				news / warcraft logs / recruitment 
				carrosel images
				</div>
				<a class="notice"><%= flash[:notice] if flash[:notice] %></a>
      			<a class="alert"><%= flash[:alert] if flash[:alert] %></a>
				<iframe src="http://www.warcraftlogs.com/guilds/recent_reports/28086/" width="245" height="140" allowtransparency="true" frameborder="0" style="margin-left: 80px;"></iframe>
			</div>
			<div id='empty' class='col-md-1'></div>
		</div>
	</div>
</div>