
<!-- News section/side panel -->
<div id="header" class="container-fluid">
	<div id="header-row" class="row paneladd">
		<!-- News Panel -->
		<div id="news" class='col-md-9'>
			<% Homepagenew.where(homepage_id: 1).all.sort.reverse.each do |news_section| %>
			<div id='newssection'>
				<div class="newstitle">
					<%= news_section.title %>
				</div>
				<div class="newstext">
				<%= simple_format(news_section.news, {}, wrapper_tag: "div", sanitize: false) %>
				</div>
				<div class="newsdate">
					<%= news_section.created_at.strftime("%B %d, %Y") %>
				</div>
			</div>
			<% end %>
			<div id='homepagelinks'>
				<% if Homepage.count > 10 %>
				 	<% Homepage.take(9).each do |x| %>
						<%= link_to x.id, homepage_path(x.id) %>
					<% end %>
					...
					<%= link_to Homepage.last.id, homepage_path(Homepage.last.id) %>
				<% else %>
					<% Homepage.all.each do |x| %>
						<%= link_to x.id, homepage_path(x.id) %>
					<% end %>
				<% end %>
			</div>
		</div>
		<!-- News Panel Closed -->
		<div id="side-panel" class='col-md-3'>
			<div id='noticediv'>
				<a class="notice"><%= flash[:notice] if flash[:notice] %></a>
				<a class="alert"><%= flash[:alert] if flash[:alert] %></a>
			</div>
		<!-- Recruitment Panel -->
			<div id="recruitment-panel">
				<div id='recruitingtext'>Currently Recruiting</div>
				<% Recruitmentclass.all.each do |wowclass| %>
					<div id='<%= wowclass.wowclass.delete(' ') %>Class' class="wowclass row">
						<div class='col-md-4 wowclassname'><%= wowclass.wowclass %></div>
						<div class='col-md-8'>
						<% Recruitmentclass.find(wowclass.id).recruitments.all.sort.each do |recruitment| %>
							<% if recruitment.recruiting == true %>
								<%= image_tag(wowclass.wowclass.gsub(" ","_").downcase + '_' + recruitment.spec.gsub(' ','_') + '.jpg', :alt => "rss feed") %>
							<% elsif recruitment.recruiting == false %>
								<%= image_tag(wowclass.wowclass.gsub(" ","_").downcase + '_' + recruitment.spec.gsub(' ','_') + '_sat.jpg', :alt => "rss feed") %>
							<% end %>		
						<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<!-- Recruitment Panel Closed -->
			<!-- Logs Panel -->
			<div id="WarcraftLogsPanel">
				<div id="logstext">Warcraft Logs</div>
				<iframe src="http://www.warcraftlogs.com/guilds/recent_reports/28086/" allowtransparency="true" frameborder="0"></iframe>	
			</div>
			<!-- Logs Panel Closed -->
			<!-- Youtube Panel -->
			<div id="YoutubePanel">
			<div id="youtubetext">Latest Video</div>
				<iframe src="<%= Playlist.find(1).link %>" frameborder="0" allowfullscreen></iframe>
			</div>
			<!-- Youtube Panel Closed -->
		</div>
		<!-- Side Panel Closed -->

	</div>
</div>
<!-- news section/side panels closed div -->
