<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
  <% if current_user.admin %>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $("#forumrulelink").click(function(){
        $("#forumrulelist").toggle();
    });
});
</script>
<style>
	/*
 *= require_tree .
 *= require_self
 *= require fancybox
 */



@import url(https://fonts.googleapis.com/css?family=Merriweather);

/*$primary-color: #333333;
$secondary-color: rgb(225, 242, 245);
$secondary-color-op: rgba(225, 242, 245, 0.05);
$third-color: 4A608F;
$fourth-color: 496F75;
$black-color: 313536;*/

body {
	margin: 0 auto;
	color: 313536;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.8);
    background-image: repeating-linear-gradient(45deg, rgba(225, 242, 245, 0.05) 0%, rgba(225, 242, 245, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(225, 242, 245, 0.05) 0%, rgba(225, 242, 245, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -moz-repeating-linear-gradient(45deg, rgba(225, 242, 245, 0.05) 0%, rgba(225, 242, 245, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -ms-repeating-linear-gradient(45deg, rgba(225, 242, 245, 0.05) 0%, rgba(225, 242, 245, 0.05) 25%, transparent 25%, transparent 50%);
    background-image: -o-repeating-linear-gradient(45deg, rgba(225, 242, 245, 0.05) 0%, rgba(225, 242, 245, 0.05)25%, transparent 25%, transparent 50%);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    -o-background-size: 5px 5px;
    background-size: 5px 5px;
}

html, body, .body-height {
	height: 100% !important;
}

#header-row {
	height: 100%;
}

.body-height-auto {
	// height: 100% !important;
	min-height: 100%;
}

#content-frame {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	background-color: white;
    border: 1px solid #5c5c5c;
	border-top: 1px solid #999;
    box-shadow: 0px 0px 1px 0px black, 0px 3px 15px 2px black;
}

#title {
	height: 140px;
	text-align: center;
	position: relative;
	background-image: url("testguildlogo.png");
	background-position: center;
}

#login {
	float: right;
	background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 30px, $primary-color 33.3px);
	padding-left: 35px;
}

.login-button {
	background-color: $primary-color;
	text-decoration: none;
}

a.login-button {
	text-decoration: none;
	color: $secondary-color
}


#signupform input {
	text-align: center;
	margin: 0 auto;
	display: block;
}

#signupform {
	margin: 0 auto;
	text-align: center;
	position: absolute;
    width: 500px;
    height: 435px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -217.5px 0 0 -250px;
	background-color: white;
    border: 1px solid #5c5c5c;
	border-top: 1px solid #999;
    box-shadow: 0px 0px 1px 0px black, 0px 3px 15px 2px black;
}
#signupformtext {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

input.formbuttons.submitbutton {
	display: inline-block !important;
}

button.formbuttons.closefb {
	display: inline-block;
	margin-top: 10px;
}

form.form-horizontal {
	display: inline;
}

a.various {
	display: inline-block;
}

input.login-button {
	display: inline-block;
}

#side-panel {
	padding-right: 30px;
}

.paneladd {
	padding-bottom: 30px;
}

ul {
	list-style-type: decimal;
	padding: 0;
	color: red;
	text-align: left;
	padding-left: 30px;
}

#forumrulelist {
	display: none;
}

#forumrulelist ul {
	list-style-type: none;
	color: #333333;
}

#forumrules {
	text-align: left;
}

div#forumrulenote {
	padding-left: 20px;
	font-size: 10px;
}

.spacethis {
	display: inline-block;
    padding: 0 10px;
    font-size: 12px;
}
</style>
<div id="forumrules">
	<a id="forumrulelink">Formating Help</a>
	<div id="forumrulelist">
		<ul>
			<li>&lt;   <div class="spacethis">is</div>   &amp;lt;</li>
			<li>&gt;   <div class="spacethis">is</div>    &amp;gt;</li>
			<li>&amp;   <div class="spacethis">is</div>    &amp;amp;</li>
			<li>Add Image <div class="spacethis">=</div> &lt;img src='www.linkgoeshere.com'&gt;</li>
			<li>Add Video <div class="spacethis">=</div> &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/ddBJubYf7EQ?list=RDsRicwVSTPEc&amp;showinfo=0" frameborder="0" allowfullscreen&gt;&lt;/iframe &gt;</li>
			<li><div class="spacethis">You can copy any embed video or image link</div></li>
		</ul>
	</div>
	<div id="forumrulenote">
		You can write in html
	</div>
</div>
<% if @homepagenew.errors.any? %>
	<ul>
		<% @homepagenew.errors.full_messages.each do |message| %>
			 <li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<a class="notice"><%= flash[:notice] if flash[:notice] %></a>

<%= form_for @homepagenew, :url => homepagenews_path, :html => {  :autocomplete => :off, :multipart => true } do |f| %>
	
	<%= f.text_field :title, placeholder: "News Title" %><br />
	<%= f.text_area :news, placeholder: "News", cols: "50", rows: "8"  %><br />
	<button onclick="parent.$.fancybox.close();" type="button" class="formbuttons closefb">Cancel</button>
	<%= f.submit :class => 'formbuttons submitbutton', :id => 'signupformbut', :value => "Update News"%>
	<br />
<br />

<% end %>

<!-- If not admin -->
  <% else %>
    <%= render 'shared/noaccess' %>    
  <% end %>
<% else %>
  <%= render 'shared/noaccess' %>  
<% end %>
