<!-- if loged in -->
<% if current_user != nil %>
<!-- If admin -->
  <% if current_user == @post.user || current_user.admin %>

<style>
	textarea {
		width: 98%;
		margin: 10px;
	}
</style>

<% 	def findcommenttime(thect)
	 	recenttime = Time.now - thect
	 	if recenttime < 60
	 		@commenttime = 'posted less than a min ago'
	 	elsif recenttime < 3600
	 		@commenttime = 'posted less than an hour ago'
	 	elsif recenttime < 86400
	 		@commenttime = 'posted less than a day ago'
	 	elsif recenttime < 604800
	 		@commenttime = 'posted less than a week ago'
	 	elsif recenttime < 2592000
	 		@commenttime = 'posted less than a month ago'
	 	elsif recenttime < 31536000
	 		@commenttime = 'posted less than a year ago'
	 	elsif recenttime >= 31536000
	 		@commenttime = 'posted more than a year ago'
	 	else
	 		@commenttime = 'an error occured'
	 	end
	end %>
<div id="forumnav">
	<%= link_to 'Forum', forums_path %> » <%= link_to Forum.find(@post.forum_id).title, forum_path(Forum.find(@post.forum_id).title) %> » <%= link_to @post.title, forum_post_path(Forum.find(@post.forum_id).title, @post) %>
</div>
<div id='posttitlecenter'>
	<div id='posttitle'>
		<%= @post.title %>	
	</div>
</div>
<div id="forumtypepost" class="row">
	<div id="postuserinfo" class='col-md-2 col-sd-2'>
		<div id="postuser"><%= @post.user.username %></div>
		<div id="postuseravatar">avatar</div>
		<div id="postuserjoindate"><b>Join Date:</b> <%= @post.user.created_at.strftime("%B %d, %Y") %></div>
		<div id="postuserpostcount"><b>Posts:</b> <%= @post.user.comments.count + @post.user.posts.count %></div>
	</div>
	<div id="postinfo" class='col-md-10 col-sd-10'>
			<div id='postwhen'>
				<% findcommenttime(@post.created_at) %>
				<%= @commenttime %>
			</div>
		<div id='postuserbody'><%= simple_format(@post.body, {}, wrapper_tag: "div", id: 'postuserbody', sanitize: false) %></div>
		<div id='postdate'>
			Created on: <%= @post.created_at.strftime("%B %d, %Y") %>
			<% if @post.created_at != @post.updated_at %>
				<div id="postupdate">
					(Updated on: <%= @post.updated_at.strftime("%B %d, %Y") %>)
				</div>
			<% end %>
		</div>
	</div>
</div>

<% @post.comments.all.order('created_at ASC').each do |comment| %>
	<div id="forumtypepost" class="row">
		<div id="postuserinfo" class='col-md-2 col-sd-2'>
			<div id="postuser"><%= comment.user.username %></div>
			<div id="postuseravatar">avatar</div>
			<div id="postuserjoindate"><b>Join Date:</b> <%= comment.user.created_at.strftime("%B %d, %Y") %></div>
			<div id="postuserpostcount"><b>Posts:</b> <%= comment.user.comments.count + comment.user.posts.count %></div>
		</div>
		<div id="postinfo" class='col-md-10 col-sd-10'>
			<div id='postwhen'>
				<% findcommenttime(comment.created_at) %>
				<%= @commenttime %>
			</div>
			<div id='postuserbody'><%= simple_format(comment.body, {}, wrapper_tag: "div", id: 'postuserbody', sanitize: false) %></div>
			<div id='postdate'>
				<div id="commentdelete">
<%= link_to 'Delete', forum_post_comment_path(@post.forum_id, @post.id, comment), method: :delete, data: { confirm: 'Are you sure?' } %></div>
				<div id='commentcu'>
					Created on: <%= comment.created_at.strftime("%B %d, %Y") %>
					<% if comment.created_at != comment.updated_at %>
						<div id="postupdate">
							(Updated on: <%= comment.updated_at.strftime("%B %d, %Y") %>)
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div>
		</div>
	</div>
<% end %>
<a name="commentsubmit"></a>
<div id="forumtypepost" class="row">
	<div id="forumrules">
		<a id="forumrulelink">Formating Help</a>
		<div id="forumrulelist">
			<ul>
				<li>&lt;   <div class="spacethis">is</div>   &amp;lt;</li>
				<li>&gt;   <div class="spacethis">is</div>    &amp;gt;</li>
				<li>&amp;   <div class="spacethis">is</div>    &amp;amp;</li>
				<li>Add Image <div class="spacethis">=</div> &lt;img src='www.linkgoeshere.com'&gt;</li>
				<li>Add Video <div class="spacethis">=</div> &lt;iframe width="560" height="315" src="https://www.youtube.com/embed/ddBJubYf7EQ?list=RDsRicwVSTPEc&amp;showinfo=0" frameborder="0" allowfullscreen&gt;&lt;/iframe &gt;</li>
				<li><div class="spacethis">You can copy any embed video or image link</div></li>
			</ul>
		</div>
		<div id="forumrulenote">
			You can write in html
		</div>
	</div>
<% if @post.errors.any? %>
	<ul>
		<% @post.errors.full_messages.each do |message| %>
			 <li><%= message %></li>
		<% end %>
	</ul>
<% end %>
<%= form_for @post, url: forum_post_path(@forum, @post, :anchor => 'commentsubmit'), html: { :autocomplete => :off, :multipart => true, method: :put } do |f| %>
	<%= f.text_field :title, placeholder: "Post Title" %><br />
	<%= f.text_area :body, placeholder: "Comment Section", cols: "50", rows: "8"  %><br />
	<%= f.submit 'Submit', :class => 'guildbutton', :id => 'commentbutton'%>
	<br />
<br />
<% end %>
</div>

<!-- If not admin -->
  <% else %>
    <%= render 'shared/noaccess' %>    
  <% end %>
<% else %>
  <%= render 'shared/noaccess' %>  
<% end %>
