<% 	def findcommenttime(thect)
	 	recenttime = Time.now - thect
	 	if recenttime < 60
	 		@commenttime = 'posted less than a min ago'
	 	elsif recenttime < 3600
	 		@commenttime = 'posted less than an hour ago'
	 	elsif recenttime < 86400
	 		@commenttime = 'posted less than a day ago'
	 	elsif recenttime < 604800
	 		@commenttime = 'posted less than a week ago'
	 	elsif recenttime < 2592000
	 		@commenttime = 'posted less than a month ago'
	 	elsif recenttime < 31536000
	 		@commenttime = 'posted less than a year ago'
	 	elsif recenttime >= 31536000
	 		@commenttime = 'posted more than a year ago'
	 	else
	 		@commenttime = 'an error occured'
	 	end
	end %>

<a style="float: right; padding-right: 10px;" class="notice"><%= flash[:notice] if flash[:notice] %></a>


<div id='posttitlecenter'>
	<div id='posttitle'>
		<%= @post.title %>	
	</div>
</div>
<div id="forumtypepost" class="row">
	<div id="postuserinfo" class='col-md-2 col-sd-2'>
		<div id="postuser"><%= @post.user.username %></div>
		<div id="postuseravatar">avatar</div>
		<div id="postuserjoindate"><b>Join Date:</b> <%= @post.user.created_at.strftime("%B %d, %Y") %></div>
		<div id="postuserpostcount"><b>Posts:</b> <%= @post.user.comments.count + @post.user.posts.count %></div>
	</div>
	<div id="postinfo" class='col-md-10 col-sd-10'>
			<div id='postwhen'>
				<% findcommenttime(@post.created_at) %>
				<%= @commenttime %>
			</div>
		<div id='postuserbody'><%= @post.body %></div>
		<div id='postdate'>
			<div id="commentedit">
				<% if current_user != nil %>
					<% if current_user == @post.user || current_user.admin %>
						<%= link_to 'Edit', edit_forum_post_path(Forum.find(@post.forum_id).title, @post) + '#commentsubmit' %>
					<% end %>
				<% end %>
			</div>
			<div id='commentcu'>
				Created on: <%= @post.created_at.strftime("%B %d, %Y") %>
				<% if @post.created_at != @post.updated_at %>
					<div id="postupdate">
						(Updated on: <%= @post.updated_at.strftime("%B %d, %Y") %>)
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% @post.comments.all.order('created_at ASC').each do |comment| %>
	<div id="forumtypepost" class="row">
		<div id="postuserinfo" class='col-md-2 col-sd-2'>
			<div id="postuser"><%= comment.user.username %></div>
			<div id="postuseravatar">avatar</div>
			<div id="postuserjoindate"><b>Join Date:</b> <%= comment.user.created_at.strftime("%B %d, %Y") %></div>
			<div id="postuserpostcount"><b>Posts:</b> <%= comment.user.comments.count + comment.user.posts.count %></div>
		</div>
		<div id="postinfo" class='col-md-10 col-sd-10'>
			<div id='postwhen'>
				<% findcommenttime(comment.created_at) %>
				<%= @commenttime %>
			</div>
			<div id='postuserbody'><%= comment.body %></div>
			<div id='postdate'>
				<div id="commentedit">
					<% if current_user != nil %>
						<% if current_user == comment.user || current_user.admin %>
							<%= link_to 'Edit', edit_forum_post_comment_path(Forum.find(@post.forum_id).title, @post.id, comment, comment.id) + '#commentsubmit' %>
						<% end %>
					<% end %>
				</div>
				<div id="commentdelete">
					<% if current_user != nil %>
						<% if current_user == comment.user || current_user.admin %>
							<%= link_to 'Delete', forum_post_comment_path(@post.forum_id, @post.id, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
						<% end %>
					<% end %>
				</div>
				<div id='commentcu'>
					Created on: <%= comment.created_at.strftime("%B %d, %Y") %>
					<% if comment.created_at != comment.updated_at %>
						<div id="postupdate">
							(Updated on: <%= comment.updated_at.strftime("%B %d, %Y") %>)
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div>
		</div>
	</div>
<% end %>
<% if current_user != nil %>
	<% if current_user %>
		<div class='hvr-grow lasthvrgrow'>
			<a  style="text-decoration : none" href="<%= (new_forum_post_comment_path(Forum.find(@post.forum_id).title, @post.id)+ '#commentsubmit') %>"><input type="submit" class="guildbutton" value="Add Comment" /></a>
		</div>
	<% end %>
<% end %>



login should take u to the page u were on, not home page

can enter in paragraphs.

back button

forums/Warlock
	when post has no comment comment should be 1 (add 1 to the comment count then) and should maybe should u what the post is about like how comment does it.

Tomorow:

comment and post need to only show 10 per a page? so need to do the same thing i did for news

____________________________

http://localhost:3000/forums/Warlock/posts/1/commentpages/1

Database (dont forget to update model)
	Actualcomment
		comment_id 
	Comment
		post_id

		how does it get post id...

	everytime there is a post created it also creates a comment
		if post gets destroyed it needs to also destroy associated comment

change every comment model veiw and controller to actualcomment???

need to do routes

what happened to comments did they transfer over to actualcomments?
	check if actualcomment.find(10) is there still (need to update model first)

what wil it do to the current comment section????
	link-to, forms broken...

how should routes go
how important is posts/1/comment/1/actualcomment/1...
	you only get the current comment param when editing...
	so yeah should nest it underneath it....


	_________________________


Post/1
	show all 10
but when hit next posts/1/comments/1
	show first 10
posts/1/comments/2
	show 11-20


current issue is that how do get posts/1 to show multiple pages





Need to delete comment database
	homepagenews is our current comments so that becomes our veiws/controller/model
Database
  create_table "homepagenews", force: :cascade do |t|
    t.string   "title"
    t.text     "news"
    t.datetime "created_at",  null: false
    t.datetime "updated_at",  null: false
    t.integer  "homepage_id"
  end

  create_table "homepages", force: :cascade do |t|
  end

