<% 	def findcommenttime(thect)
	 	recenttime = Time.now - thect
	 	if recenttime < 60
	 		@commenttime = 'posted less than a min ago'
	 	elsif recenttime < 3600
	 		@commenttime = 'posted less than an hour ago'
	 	elsif recenttime < 86400
	 		@commenttime = 'posted less than a day ago'
	 	elsif recenttime < 604800
	 		@commenttime = 'posted less than a week ago'
	 	elsif recenttime < 2592000
	 		@commenttime = 'posted less than a month ago'
	 	elsif recenttime < 31536000
	 		@commenttime = 'posted less than a year ago'
	 	elsif recenttime >= 31536000
	 		@commenttime = 'posted more than a year ago'
	 	else
	 		@commenttime = 'an error occured'
	 	end
	end %>

<div id='posttitlecenter'>
	<div id='posttitle'>
		<%= @post.title %>	
	</div>
</div>
<div id="forumtypepost" class="row">
	<div id="postuserinfo" class='col-md-2 col-sd-2'>
		<div id="postuser"><%= @post.user.username %></div>
		<div id="postuseravatar">avatar</div>
		<div id="postuserjoindate"><b>Join Date:</b> <%= @post.user.created_at.strftime("%B %d, %Y") %></div>
		<div id="postuserpostcount"><b>Posts:</b> <%= @post.user.comments.count + @post.user.posts.count %></div>
	</div>
	<div id="postinfo" class='col-md-10 col-sd-10'>
			<div id='postwhen'>
				<% findcommenttime(@post.created_at) %>
				<%= @commenttime %>
			</div>
		<div id='postuserbody'><%= @post.body %></div>
		<div id='postdate'>
			Created on: <%= @post.created_at.strftime("%B %d, %Y") %>
			<% if @post.created_at != @post.updated_at %>
				<div id="postupdate">
					(Updated on: <%= @post.updated_at.strftime("%B %d, %Y") %>)
				</div>
			<% end %>
		</div>
	</div>
</div>

<% @post.comments.all.order('created_at ASC').each do |comment| %>
	<div id="forumtypepost" class="row">
		<div id="postuserinfo" class='col-md-2 col-sd-2'>
			<div id="postuser"><%= comment.user.username %></div>
			<div id="postuseravatar">avatar</div>
			<div id="postuserjoindate"><b>Join Date:</b> <%= comment.user.created_at.strftime("%B %d, %Y") %></div>
			<div id="postuserpostcount"><b>Posts:</b> <%= comment.user.comments.count + comment.user.posts.count %></div>
		</div>
		<div id="postinfo" class='col-md-10 col-sd-10'>
			<div id='postwhen'>
				<% findcommenttime(comment.created_at) %>
				<%= @commenttime %>
			</div>
			<div id='postuserbody'><%= comment.body %></div>
			<div id='postdate'>
				<div id="commentedit">
					<%= link_to 'Edit', edit_forum_post_comment_path(@post.forum_id, @post.id, comment, comment.id) %>
				</div>
				<div id="commentdelete">
					<%= link_to 'Delete', forum_post_comment_path(@post.forum_id, @post.id, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
				</div>
				<div id='commentcu'>
					Created on: <%= comment.created_at.strftime("%B %d, %Y") %>
					<% if comment.created_at != comment.updated_at %>
						<div id="postupdate">
							(Updated on: <%= comment.updated_at.strftime("%B %d, %Y") %>)
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div>
		</div>
	</div>
<% end %>
<% if current_user != nil %>
	<div class='hvr-grow lasthvrgrow'>
		<a  style="text-decoration : none" href="<%= (new_forum_post_comment_path(@post.forum_id, @post.id)+ '#commentsubmit') %>"><input type="submit" class="guildbutton" value="Add Comment" /></a>
	</div>
<% end %>




Tomorow:
add edit comments

go through and check the following
	admin
		can edit anyones
		can delete anyones
		can create new post
	user
		can edit own
		can delete own
		can create new post
	non user
		cant edit
		cant delete
		cant create
		but can see page

Validations, must include post id, user id, and body.length cant be blank

comment and post need to only show 10 per a page? so need to do the same thing i did for news



